html {
  box-sizing: border-box;
}

.bg-black {
	background-color: #000
}

.bg-transparent {
	background-color: rgba(117, 190, 218, 0.0);
}

.navbar-nav {
	flex: 1;
	margin: auto !important;
	display: flex;
	justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly; */
}

.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
}

.navbar-toggler {
	margin-left: auto;
}

.navbar-toggler-close {
	margin-left: 0;
}

.navbar-toggler-icon {
	background-image: url("img/menu.png")!important;
	background-repeat:no-repeat;
}

.navbar-toggler-icon-close {
	background-image: url("img/close.png")!important;
	background-repeat:no-repeat;
}

@media (max-width: 768px) {
	.navbar-nav li a {
	    line-height: 50px;
	    height: 50px;
	    padding-top: 0;
	    text-align: center;
	}
}